.header { grid-area: header;background-color: aqua; }
.menu {
    grid-area: menu;
    background-color: darkcyan;
    overflow: hidden;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.menu a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.menu a.active {
    background-color: #04AA6D;
    color: white;
}
.main { grid-area: main; background-color: #999999;height: 40vh;}
.right { grid-area: right; background-color: grey;height: 40vh;}
.center { grid-area: center; background-color: darkgrey;height: 40vh;}
.footer { grid-area: footer; background-color: darkcyan}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main center center center center right'
    'footer footer footer footer footer footer';
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

@media screen and (max-width: 660px) {
    .grid-container {
        grid-template-areas:
      'header'
      'menu'
      'main'
      'center'
      'right'
      'footer';
    }
}